<script>
	import { mdiConsoleNetworkOutline } from '@mdi/js';
	

	import Popup from './popup.svelte'
	import Item from './Item.svelte'
	var myWorker = new Worker('./worker.js')
	var state = 0
	var question = []
	let m = { x: 0, y: 0 }
	var boxset = 0
	var currentbox = 0
	var displaypopup = false
	var boxes = {}
	var calories = {}
	//pretty sure this is the most convienent way to do this even it could be done better using a table
	var questions =[[0, "sunday"], [1, "monday"], [2, "tuseday"], [3, "wensday"], [4, "thursday"], [5, "friday"], [6, "saturday"]]
	//assinging boxes in a loop because its more readable then doing it manually
	for (let x = 0; x != 7; x++){
		//3 as in, 3 days a week
		boxes[x] = [[0],[1],[2]]
		calories[x] = [0]
	}
	//temporary list. The var needs to exist to be replaced... Consider this init
	var ping = [["a", "b", "c", "d"]]
	const fs = require("fs")
	//this reads the last 
	var read = fs.readFileSync("./public/q.json", 'utf8')
	myWorker.postMessage(read)

	function playnut(){
		console.log
		var nut = new Audio("nut.mp3");
		nut.play();
	}

	const onKeyPress = e => {
	var value = document.getElementById("etc").value
		if (e.charCode === 13) {
			state = 1
			//if you enter something larger than 2 and hit enter, we send the result and the process of drawing begins!
			if(value.length > 2){
				myWorker.postMessage(value)
				document.getElementById("etc").value = ""

			}
		}
	}
	function smallSend(){
		try{
			var value = document.getElementById("etc").value
			if(value.length > 2){ 
				// ≈ used to denote that this is a small message.
				if (state != 1){ state = 1 }
				myWorker.postMessage(value+="≈") 
				console.log("supposedly sent", value)
			}
			
		}
		catch { console.log("whatever"); return }
	}
	setInterval(smallSend, 500)
	function goBack(){ 
		console.log(question)
		document.getElementById("etc").value = ""
		state = state-1; ping = []}
	
	myWorker.onmessage = function(message) {	
		console.log("getoff")
		message = message["data"]
		console.log(message)

		if(message.includes("≈")){
			console.log("recieved small")
			ping = []
			var messageParse = message.slice(0, -1).split(",")
			//removes the ≈ denoting its a small message
			ping = [...ping, [messageParse[1], messageParse[2], messageParse[3], messageParse[4], messageParse[5]]]
		}
		//so this boi doesn't grab someone elses requrests.
		else if (message.includes("گ")){ return }
		else {
			ping = []
			//converts the string to an array.
			var sdo = JSON.parse(message)
			for(var x in sdo){
				console.log("recieved?")
				ping = [...ping, 
				[
					sdo[x]["name"], sdo[x]["author"], sdo[x]["url"], sdo[x]["dateadded"], 
					sdo[x]["imgurl"], sdo[x]["ingredients"], sdo[x]["calories"]
				] 
					] 
			}

			console.log(ping.test)
		}
	console.log(ping[0])
	}
	function testclick(event, box) {
			displaypopup = true
			console.log(currentbox)
			console.log("clicked") 
			m.x = event.clientX;
			m.y = event.clientY;	
			console.log(m)		
			currentbox = box
			console.log(currentbox)
	}

	//this is the most angry workaround I've ever written.
	function updateDomFromSubSvelte(){
		//so, svelte, as the function name implies, does not update from subsveltes.
		boxes = boxes
		question = question
		calories = calories
	}
	setInterval(updateDomFromSubSvelte, 100)
	function setBoxSet(){
		boxset = document.getElementById("dropdown").value

	}
	function remove(_){
		console.log(_)	
		calories[boxset].splice(calories[boxset].indexOf(_[1][2][7]), 1)
		_.splice(1,1)
	}
	function sumList(a){
		return a.reduce(function(a,b){return a+b})
	}
	document.addEventListener('click', ()=>{
		console.log("test")
		if (displaypopup){
			displaypopup = !displaypopup }}, true)


	</script>
	
	<main> 	
		<select value={0} on:change="{() => setBoxSet()}" id="dropdown">
			{#each questions as question}
				<option value={question[0]}>
					{question[1]}
				</option>
			{/each}
		</select>
		
		<input id=etc on:keypress={onKeyPress} required>
		{#if state == 0}
		<button id="button" on:click={playnut}>can touch this</button>
	
		<div style=display:flex;justify-content:center;align-items:center; >
			{#if displaypopup}
				<div class="thingy" style="position:absolute; left:{m.x+100}px; top:{m.y+100}px;">
					<Popup images={question} currentbox={currentbox} boxes={boxes} boxset={boxset} worker={myWorker}
						calories={calories}/>
				</div>
			{/if}
			<div class="scrolly" style=display:flex;justify-content:center;align-items:center;>
				<ul>
					{#each boxes[boxset] as _ }
						{#if _.length != 1}
							<img class="hoverythings" src={_[1][0]} alt="broken?" on:click={() => remove(_)} style="width:50px;height:50px; object-fit: cover; border:1px;"> 
						{:else}
							<li class="hoverythings" on:click={(event) => testclick(event, _[0])} style="width: 50px; height: 50px; object-fit: cover; align-items: center; justify-content: center; border:1px solid #000;"></li>
						{/if}
						{/each}
				</ul>
			</div>
		</div>	
	
		<h1>total daily calories: {Math.floor(sumList(calories[boxset]))}</h1>
		<h1> total calories: {sumList(Object.values(calories).flat())}</h1>

		Search recipes using the search bar then hit the blue star to add them to the selection!
	
	
		then click on the white boxes to add them to your meal plan. 
		{:else}
			<button id="button" on:click={goBack}>
				"GO BACK"
			</button>
			<div class="scroll">
			{#each ping as x}
				<Item title={x[0]} 
				author={x[1]}
				subtitle={x[2]}
				buttontext={x[3]} 
				pulltext={x[5]}
				img={x[4]}
				calories={x[6]}
				testlist = {question}
	
				/>
			{/each}
			</div>
		{/if}
	</main>
	
<style>
main {

	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;

}

#etc { 
	background:rgba(255, 255, 255, 0.959); 
	outline: solid black 1px; }
#button{
	background:rgba(255, 255, 255, 0.959); 
	outline: solid black 1px; 
	}
#button:active{
	background:rgba(102, 101, 101, 0.959); 
	outline: solid black 1px;
	transition: 200ms;
	
}	

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}
.scroll 
{
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}		

.scrolly ul
	{   

		list-style-type: none;
		display : flex;
		align-items: center;
		justify-content: center;
		flex-wrap : nowrap;
		margin-right: auto;		
		overflow-y: hidden;
		max-width: 380px;
	}

.hoverythings:hover{
	opacity: 0.7;
	transition: 700;
}
#dropdown{
	background:rgba(245, 245, 245, 0.959); 
	outline: solid black 1px;
	transition: 200ms;

}
</style>