body{
    margin: 0; 
    padding: 0;
    background: #140f1d;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-76%);
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 320px;
    background: #272133;
    border-radius:1px;
}

.box:hover i{
    opacity: 0;
    z-index: -1;

}
.input:valid {
    width: 320px;
    background: #272133;
    border-radius:1px;
 }
