<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <title>Search</title>
</head>
<body>
    <div class="box">
        <form name="search">
            <input type="text" class="input" name="txt" required>
        </form>
    </div>
</body>
